$button--color: $Green;
$cta--color: $NavyBlue;

.cta-question-buttons {
  border: 1px solid $LightGrey;
}

.cta-question-buttons__title {
    background-color: $cta--color;
}

.cta-question-buttons__content {
  background: white;
  color: $cta--color;
}

.cta-question-buttons__narrative {
  font-size: 1.3em;
}

.cta-button {
  border-color: $button--color;
  border-radius: 3px;
  background-color: $button--color;
  max-width: unset;
  box-shadow: 3px 3px 2px 0px darken($LightGrey, 50%);
}

.cta-button:hover {
  background: lighten($button--color, 10%);
  border-color: lighten($button--color, 10%);
  color: white;
  transition: all 50ms linear;
}

.cta-button:active {
  box-shadow: none;
  margin-top: 3px;
  margin-bottom: -3px;
  margin-left: 3px;
  transition: all 50ms linear;
}


@media screen and (min-width: 801px) {
  .cta-question-buttons {
      width: unset;
  }
}

@media screen and (max-width: 800px) {
  .cta-question-buttons {
      margin: 1%;
  }
}
